<style>
* {
              box-sizing: border-box;
}

body {
              margin: 0;
              font-family: Arial, Helvetica, sans-serif;
              background-color: #ffc979;
}
/* Style the header */
.header{
              text-align: center;
              background-color: #e6e6e6;
              border-bottom: 3px solid black;         
}

/* Style the content */
.content {
              margin-left: 200px;
              padding-left: 5px;
              background-color: #ffc979;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
              float: left;
              width: 20%;

            }
            
/* Clear floats after image containers */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            .right{
              float:right;
          }

/* Clear floats after image containers */
.body-section{

              border-top: 5px;
              background-color: #e6e6e6;
}

/* text floating next to eachother */     
          .alignRight {
              float: right;
            }

            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #ffffff;
              position: fixed;
              top: 0;
              width: 100%;
            }
            
            li {
              float: left;
            }
            
            li a {
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
            
            li a:hover {
              background-color: #001e96;
              color:#ffffff;
            }
            .active {
              background-color: #001e96;
              color:#ffffff;
            }
            .main-area{
              width: 40%;
              float: left;
              padding-right: 15px;
              box-sizing: border-box;
            }
            .tekst{
              width: 60%;
              float: right;
              padding-left: 15px;
              padding-top: 30px;
              box-sizing: border-box;
          }
        .overskrift{
          padding-top: 50px;
          
        }
        .container{
          display: flex;
          border-style: solid;
          border-radius: 15px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 10px;
          background-color: bisque;
        }
        img{
          max-width: 100%;
        }
        .text-col{
          margin-left: 10px;
          margin-right: 5px;
        }
        .img-col{
          margin-top: 10px;
          margin-left: 10px;
          max-height: 275px;
          max-width: 275px;

        }
        h1{
          margin-top: 75px;
          text-align: center;
        }
        .container-40-left{
          display: flex;
          border-style: solid;
          border-radius: 15px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 10px;
          width: 40%;
          float: left;
          background-color: bisque;
          min-height: 250px;
          
        }
        .container-40-right{
          display: flex;
          border-style: solid;
          border-radius: 15px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 10px;
          width: 40%;
         float: inline-end;
          background-color: bisque;
          min-height: 250px;
        }

        .overskrift-skole{
          text-align: center;
        }
        
        .img-col-40{
          margin-top: 10px;
          margin-left: 10px;
          max-width: 117px;
          max-height: 117px;
        }
        
        .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        }


        .fa {
          padding: 20px;
          font-size: 30px;
          width: 50px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
        }
        
        .fa:hover {
            opacity: 0.7;
        }
        
        .fa-facebook {
          background: #4267B2;
          color: white;
        }
        
        .fa-twitter {
          background: #1DA1F2;
          color: white;
        }
        .fa-linkedin {
          background: #007bb5;
          color: white;
        }
        .fa-instagram {
          background: #E1306C;
          color: white;
        }

        footer {
          background-color:bisque;
          padding: 10px;
          text-align: center;
          color: white;
          margin-top: 50px;
}


.lilletekst {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: bisque;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
</style>