<style>
* {
              box-sizing: border-box;
}

body {
              margin: 0;
              font-family: Arial, Helvetica, sans-serif;
              background-color: #e6e6e6;
}
/* Style the header */
.header{
              margin-left: 200px;
              padding-left: 5px;
              text-align: center;
              background-color: #e6e6e6;
              border-bottom: 3px solid black;         
}

/* Style the content */
.content {
              margin-left: 200px;
              padding-left: 5px;
              background-color: #e6e6e6;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
              float: left;
              width: 20%;
              padding: 5px;
            }
            
/* Clear floats after image containers */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            .right{
              float:right;
          }

/* Clear floats after image containers */
.body-section{
              margin-left: ;
              padding-left: ;
              border-top: 5px;
              background-color: #e6e6e6;
}

/* text floating next to eachother */     
          .alignRight {
              float: right;
            }

            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #ffffff;
              position: fixed;
              top: 0;
              width: 100%;
            }
            
            li {
              float: left;
            }
            
            li a {
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
            
            li a:hover {
              background-color: #001e96;
            }
            .active {
              background-color: #04AA6D;
            }
            .main-area{
              width: 40%;
              float: left;
              padding-right: 15px;
              box-sizing: border-box;
            }
            .tekst{
              width: 60%;
              float: right;
              padding-left: 15px;
              padding-top: 30px;
              box-sizing: border-box;
          }
        .overskrift{
          padding-top: 50px;
          
        }
        .container{
          display: flex;
          border-style: solid;
          border-radius: 15px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 10px;
          background-color: bisque;
        }
        img{
          max-width: 100%;
        }
        .text-col{
          margin-left: 15px;
        }
        .img-col{
          margin-top: 10px;
          margin-left: 10px;
          max-height: 275px;
          max-width: 275px;

        }
        h1{
          margin-top: 75px;
          text-align: center;
        }
        .container-40-left{
          display: flex;
          border-style: solid;
          border-radius: 15px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 10px;
          width: 40%;
          float: left;
          background-color: bisque;
          
        }
        .container-40-right{
          display: flex;
          border-style: solid;
          border-radius: 15px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 10px;
          width: 40%;
          float: right;
          background-color: bisque;
        }

        .overskrift-skole{
          text-align: center;
        }
        
        .img-col-40{
          margin-top: 10px;
          margin-left: 10px;
          max-width: 117px;
          max-height: 117px;
        }
        
        .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        }
        body{
          padding-left: 20px;
        }
        
</style>